#---------------------------------------------------------------------------------------------------------#
# CONFIG FOR POSTGRESQL
global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info
#---------------------------------------------------------------------------------------------------------#

#---------------------------------------------------------------------------------------------------------#
defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global
#---------------------------------------------------------------------------------------------------------#  

#---------------------------------------------------------------------------------------------------------#
frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
#---------------------------------------------------------------------------------------------------------#

#---------------------------------------------------------------------------------------------------------#
frontend postgres_front
    bind *:5432
    mode tcp
    default_backend postgres_back

backend postgres_back
    mode tcp
    server postgresql pgsql:5432
#---------------------------------------------------------------------------------------------------------#
# Deixar uma linha vazia abaixo dessa:
