#---------------------------------------------------------------------------------------------------------#
# CONFIG FOR DENY CASE WITH WORD 
global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info
#---------------------------------------------------------------------------------------------------------#

#---------------------------------------------------------------------------------------------------------#
defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global
#---------------------------------------------------------------------------------------------------------#  

#---------------------------------------------------------------------------------------------------------#
frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
#---------------------------------------------------------------------------------------------------------#

#---------------------------------------------------------------------------------------------------------#
frontend http_front
    bind *:80
    mode http
    acl contains_password path_reg -i password
    acl contains_username path_reg -i username
    acl contains_user path_reg -i user
    acl contains_pass path_reg -i pass
    acl contains_sensitive_url path_beg /secure
    http-request deny if contains_password or contains_username or contains_pass or contains_sensitive_url
    default_backend http_back

backend http_back
    mode http
    server web04 web03:80
#---------------------------------------------------------------------------------------------------------#
# Deixar uma linha vazia abaixo dessa:
