#---------------------------------------------------------------------------------------------------------#
# CONFIG FOR REVERSE PROXY
global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info
#---------------------------------------------------------------------------------------------------------#

#---------------------------------------------------------------------------------------------------------#
defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global
#---------------------------------------------------------------------------------------------------------#  

#---------------------------------------------------------------------------------------------------------#
frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
#---------------------------------------------------------------------------------------------------------#

#---------------------------------------------------------------------------------------------------------#
frontend front_web03
  bind *:80
  acl acl_web03  path_beg /
  use_backend back_web03 if acl_web03

backend back_web03
  server web3 web03:80 check
  # ou server web3 10.100.2.43:80 check
#---------------------------------------------------------------------------------------------------------#
# Deixar uma linha vazia abaixo dessa:
